<div class="container__big-card">

    <div class="big-card__photo">
        <img 
        src="{{photoBigCard}}" 
        alt=""
        height="300px"
        width="450px"
        >
    </div>

    <div class="big-card__data">
        <span>{{dataBigCard}}</span>
    </div>

    <div class="big-card__title">
        <h1>  <a [routerLink]="['content', Id]"> {{titleBigCard}} </a> </h1>
    </div>

    <div class="big-card__resume">
        <p> 
            {{resumeBigCard}}
        </p>
    </div>

</div>