<div class="container__big-card">

    <div class="big-card__photo">
        <img 
        src="../../../assets/img_not_found.jpg" 
        alt=""
        height="300px"
        width="450px"
        >
    </div>

    <div class="big-card__data">
        <span>11/01/2001</span>
    </div>

    <div class="big-card__title">
        <h1>  <a href=" "> Saiu nova versão do angular </a> </h1>
    </div>

    <div class="big-card__resume">
        <p> 
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
        </p>
    </div>

</div>