<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img 
            src="{{photoSmallCard}}" 
            alt=""
            height="150px"
            width="150px"
            >
        </div>
    
        <div class="row-container">
            <div class="small-card__data">
                <span>{{dataSmallCard}}</span>
            </div>
        
            <div class="small-card__title">
                <h1><a [routerLink]="['content', Id]"> {{titleSmallCard}} </a> </h1>
            </div>
        </div>
      
    </div>
    <hr>
</div>


