header{
    margin-top: 20px;
}

.container__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.photo__content > img{
    width: 500px;
    height: 300px;
    margin-bottom: 10px;
    margin-top: 40px;
    border: 3px solid whitesmoke;
    border-radius: 3px;
}

.data__content{
    margin-bottom: 10px;
}

.data__content > span{
    color: rgb(150, 150, 150);
    font-style: italic;
    font-size: 0.8rem;
}

.title__content{
    margin-bottom: 10px;
}

.resume__content{
    margin-bottom: 10px;
    width: 50%;
}

.resume__content > p{
    color: grey;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
