<app-menu-title></app-menu-title>

<div class="container__articles">  
    <div class="articles__main">
        <app-big-card
        Id="1"
        dataBigCard="04/10/2023"
        titleBigCard="Projeto 01"
        resumeBigCard="Olá, sou uma pessoa que encontra sua serenidade no mundo da tecnologia, onde a complexidade se transforma em possibilidades infinitas. Meu coração se aquece quando posso ajudar os outros a desvendar os mistérios da tecnologia e aproveitar ao máximo suas maravilhas. (...)"
        >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
        Id="2"
        titleSmallCard="Formação acadêmica."
        photoSmallCard="../../../assets/formacao-academica.jpg"
        dataSmallCard="30/07/2023"
        >
        </app-small-card>

        <app-small-card
        Id="3"
        titleSmallCard="Projeto 03"
        dataSmallCard="04/10/2023"
        >
        </app-small-card>
        
        <app-small-card
        Id="4"
        titleSmallCard="Projeto 04"
        dataSmallCard="04/10/2023"
        >
        </app-small-card>
    </div>
</div>